<div class="modal-header">
  <h4 class="modal-title">Pokemon Detail</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-detail">
    <div>
      <img src="../../../assets/images/{{ imageId }}.png" alt="Pokemon Image" />
    </div>
    <div>
      <h6>Name: {{ pokemon.name }}</h6>
      <h6>Generation: {{ pokemon.generation.name }}</h6>
      <h6>Effect ability: {{ pokemon.effect_entries[0].effect }}</h6>
      <h6>
        Short Effect:
        {{ pokemon.effect_entries[0].short_effect }}
      </h6>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
