<div class="pagination">
  <div class="space"></div>
  <div class="page">
    <button
      class="btn btn-primary"
      [disabled]="currentPage <= 1"
      (click)="onPrevious()"
    >
      Previous
    </button>
    <input
      type="text"
      class="form-control mx-2"
      disabled
      name=""
      id=""
      [(ngModel)]="currentPage"
    />
    <span class="total-page mx-2"> of {{ totalPages }} </span>
    <button
      class="btn btn-primary"
      [disabled]="currentPage >= totalPages"
      (click)="onNext()"
    >
      Next
    </button>
  </div>
  <div class="btn-group item-per-page">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ itemPerPage }}
    </button>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        *ngFor="let item of numbers"
        (click)="onChangeItemPerPage(item)"
        >{{ item }}</a
      >
    </div>
  </div>
</div>
